<div class="container">
  <div class="row"></div>
  <input type="text" [(ngModel)]="name">
  <h3>{{name}}</h3>
  <hr>
  <app-servers></app-servers>
  <app-warning-alert></app-warning-alert>
  <app-success-alert></app-success-alert>
  <p appBasicHighlight>Style me with basic directive</p>
  <p appBetterHighlight [defaultColor]="'yellow'" [highlightColor]="'red'">Style me with better directive</p>
   <div *appUnless="true">
      valami111111111
   </div>

   <div [ngSwitch]="value">
     <p *ngSwitchCase="5">Value is 5</p>
     <p *ngSwitchCase="10">Value is 10</p>
     <p *ngSwitchCase="100" >Value is 100</p>
     <p *ngSwitchDefault>Value is default</p>
   </div>
</div>
